version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-local
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    command:
      --default-authentication-plugin=mysql_native_password
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    volumes:
      - mysql_local_data:/var/lib/mysql
  redis:
    image: redis:7.0
    container_name: redis-local
    restart: always
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "no" ]
    volumes:
      - redis_local_data:/data

volumes:
  mysql_local_data:
  redis_local_data:
