name: Deploy Spring Boot to EC2 (ECR)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # ✅ aws ecr 로그인
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2


      # ✅ 도커 이미지 빌드
      - name: Build Docker image
        run: |
          docker build --platform linux/arm64 -t ${{ secrets.DOCKER_IMAGE_NAME }} .


      # ✅ 새 이미지 push
      - name: Tag & Push Docker image to ECR
        run: |
          docker tag \
            ${{ secrets.DOCKER_IMAGE_NAME }}:latest \
            ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.DOCKER_IMAGE_NAME }}:latest

          docker push \
            ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.DOCKER_IMAGE_NAME }}:latest


      # ✅ EC2 배포
      # 1. 기존 컨테이너 & 도커 이미지 제거
      # 2. 도커 이미지 pull
      # 3. 도커 컨테이너 실행
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker stop ${{ secrets.DOCKER_CONTAINERNAME }} || true
            docker rm ${{ secrets.DOCKER_CONTAINERNAME }} || true
            docker pull ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.DOCKER_IMAGE_NAME }}:latest
            
            docker run -d \
              --name ${{ secrets.DOCKER_CONTAINERNAME }} \
              -p 7002:7002 \
              --restart always \
              ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.DOCKER_IMAGE_NAME }}:latest
